<div class="col-12 pt-2 pb-2 pr-0 pl-0 title-bar text-center" style="width: 991px;">
  <h5 class="title-bar m-0">Update JSON Data</h5>
</div>
<div class="row pt-4 pb-4 p-3 scroll" style="height: 60vh; overflow: hidden">
  <div class="col-5 pl-0" style="height: 100%; overflow: auto;">
    <div class="row pb-3 match-parent view-profile-img m-0-auto">
      <div class="col-12 text-center pr-0 pl-0 match-parent">
        <div class="match-parent">
          <img *ngIf="catalog_data.compressed_img" [src]="catalog_data.compressed_img" class="pos-ab-img-upload img-240"
            #imageElement>
          <button type="button" class="add-image-btn" (click)="onImageClicked($event)">
            <p class="plus">
              <i class="fa fa-camera"></i>
            </p>
          </button>
        </div>
        <input type="file" class="match-parent" accept="image/*" #fileInput (change)="fileChange($event)">
      </div>
    </div>
    <div class="row pb-3">
      <label class="col-sm-3 m-0 pl-0 pr-0 font-weight-bold">Pricing</label>
      <div class="col-sm-9 pl-0 pr-0">
        <md-radio-group [(ngModel)]="catalog_data.is_free">
          <md-radio-button [value]="1">
            Free
          </md-radio-button>
          <md-radio-button [value]="0">
            Paid
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div class="row pb-3">
      <label class="col-sm-3 m-0 pl-0 pr-0 font-weight-bold">Type</label>
      <div class="col-sm-9 pl-0 pr-0">
        <md-radio-group [(ngModel)]="catalog_data.is_featured">
          <md-radio-button [value]="1">
            Featured
          </md-radio-button>
          <md-radio-button [value]="0">
            Normal
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3 m-0 pl-0 pr-0 font-weight-bold">Orientation</label>
      <div class="col-sm-9 pl-0 pr-0">
        <md-radio-group [(ngModel)]="catalog_data.is_portrait">
          <md-radio-button [value]="1">
            Portrait
          </md-radio-button>
          <md-radio-button [value]="0">
            Landscape
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div class="row col-12 p-0">
      <md-input-container class="w-100">
        <input mdInput #input class="form-control" placeholder="Select / Enter New tag..." #fruitInput
          [formControl]="fruitCtrl" (keyup.enter)="add(input)" [matAutocomplete]="auto" />
      </md-input-container>
      <md-chip-list #chipList>
        <md-chip *ngFor="let fruit of selected_search_tags" [selectable]="selectable" [removable]="removable">{{fruit}}
          <i class="fa fa-close text-danger cursor-pointer p-1" mdChipRemove *ngIf="removable"
            (click)="remove(fruit)"></i>
        </md-chip>
      </md-chip-list>
      <md-autocomplete #auto="mdAutocomplete" class="scroll">
        <md-option *ngFor="let fruit of filtered_search_tags | async" [value]="fruit" (click)="selected(fruit)">
          {{fruit}}
        </md-option>
      </md-autocomplete>
    </div>
  </div>
  <div class="col-7 p-0"  style="height: calc(100% - 50px)">
    <textarea class="form-control json-inputbox" [(ngModel)]="catalog_data.json_data"></textarea>
    <p class="font-weight-bold m-0">--OR--</p>
    <input type="file" class="form-control btn-sm" (change)="openFile($event)" accept='text/plain'>
  </div>
  <div class="col-sm-12 pl-0 pr-0 mt-3" *ngIf="incorrect_fonts.length > 0">
    <table class="table table-hover mb-0">
      <thead>
        <tr class="table-inverse">
          <th class="pt-1 pb-1 text-center" colspan="4">Incorrect fonts, Please update fonts in red color.</th>
        </tr>
        <tr>
          <th class="pt-1 pb-1">Your font name</th>
          <th class="pt-1 pb-1">Correct font name</th>
          <th class="pt-1 pb-1">Your font path</th>
          <th class="pt-1 pb-1">Correct font path</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let font_details of incorrect_fonts; let i = index;">
          <td [ngClass]="font_details.is_correct_name==0 ? 'text-danger' : 'text-success'">{{font_details.font_name}}
          </td>
          <td>{{font_details.correct_font_name}}</td>
          <td [ngClass]="font_details.is_correct_path==0 ? 'text-danger' : 'text-success'">{{font_details.font_path}}
          </td>
          <td>{{font_details.correct_font_path}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 pl-0 pr-0 mt-3" *ngIf="mismatch_fonts.length > 0">
    <table class="table table-hover mb-0">
      <thead>
        <tr class="table-inverse">
          <th class="pt-1 pb-1 text-center" colspan="4">Mismatched fonts, please ask designer to make corrections in
            JSON.</th>
        </tr>
        <tr>
          <th class="pt-1 pb-1">Your font name</th>
          <th class="pt-1 pb-1">Suggested font path</th>
          <th class="pt-1 pb-1">Your font path</th>
          <th class="pt-1 pb-1">Suggested font name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let font_details of mismatch_fonts; let i = index;">
          <td>{{font_details.font_name}}</td>
          <td>{{font_details.correct_font_path}}</td>
          <td>{{font_details.font_path}}</td>
          <td>{{font_details.correct_font_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 pl-0 pr-0 text-center">
    <button md-raised-button class="btn btn-action-1" (click)="addCatalog(catalog_data)">Save</button>
    <button md-raised-button class="btn btn-action-cancel" [md-dialog-close]="true">Cancel</button>
  </div>
</div>
<div class="row pt-2 pb-2 text-center text-info">
  <div class="col-sm-12 text-danger">
    {{errorMsg}}
  </div>
</div>
