.selected_nav
{
    font-weight: bold;
    background-color: black;
    color: #ffffff !important;
}

nav > ul > li:hover{
    cursor: pointer;
    background-color: black;
    color: #ffffff !important;
}

nav > ul > li
{
    color:#fff;
}

.header-icons
{
    font-size: 24px;
}

.header-admin-style
{
    height:30px;
    width: 30px;
    border-radius:30px;
}

.header-admin-style-sm
{
    height:60px;
    width: 60px;
    border-radius:60px;
}

.img-logo
{
    display: inline-block !important;
}

.pt-13
{
    padding-top:13px;
}

.bg-color-white
{
    background-color: #fff !important;
    color: #000 !important;
}