/*
 * Optimumbrew Technology

 * Project       : Photo Editor Lab
 * File          : addcatalog.component.scss
 * File Created  : Saturday, 17th October 2020 04:14:40 pm
 * Author        : Optimumbrew
 * Auther Email  : info@optimumbrew.com
 * Last Modified : Thursday, 29th October 2020 11:30:31 am
 * -----
 * Copyright 2018 - 2020 Optimumbrew Technology
 */



@import "../addsubcategory/addsubcategory.component.scss";
.close-icon {
    position: absolute;
    right: 19px;
    font-size: 23px;
    top: 21px;
    cursor: pointer;
  }
  .catalog-card{
    width: 640px;
  }
  .c-add-tag-catalog{
    border: none !important;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 12px;
    background-color: #e0e0e0 !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border: none !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    height: 32px;
    position: relative;
  }
  .c-add-tag-catalog nb-icon{
    height: 20px;
    width: 20px;
    margin-top: 0px !important;
  }
::ng-deep .catalog-card nb-card-body{
    max-height: calc(100vh - 191px);
  }