# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/.history

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/loose-envify
/regjsparser.cmd
/sshpk-conv
/acorn
/protractor.cmd
/js-yaml
/not-in-install.cmd
/webpack
/sshpk-conv.cmd
/semver
/stylus.cmd
/ts-node
/strip-indent
/jsesc.cmd
/rimraf.cmd
/tsserver.cmd
/tslint.cmd
/tsc
/jasmine.cmd
/image-size.cmd
/release_notes.txt
/sshpk-verify
/ng
/mime
/mime.cmd
/ngc
/handlebars
/html-minifier.cmd
/in-publish.cmd
/karma.cmd
/handlebars.cmd
/sshpk-sign.cmd
/webpack-dev-server.cmd
/ng-xi18n
/babylon
/nopt.cmd
/cssesc
/json5
/tsickle
/mkdirp
/json5.cmd
/html-minifier
/svgo.cmd
/_ts-node.cmd
/00_browserslist.cmd
/lessc
/tslint
/webdriver-manager
/mkdirp.cmd
/tsickle.cmd
/webpack.cmd
/which.cmd
/he
/ts-node.cmd
/tsc.cmd
/webdriver-manager.cmd
/esparse
/.editorconfig
/node-sass.cmd
/README.md
/jsesc
/esparse.cmd
/lessc.cmd
/sshpk-sign
/sassgraph
/semver.cmd
/00_browserslist
/ngc.cmd
/ansi-html.cmd
/image-size
/user-home
/in-install
/uuid
/cssesc.cmd
/node-sass
/tsserver
/not-in-publish
/csso
/babylon.cmd
/which
/node-gyp.cmd
/uglifyjs.cmd
/uuid.cmd
/protractor
/sha.js.cmd
/uglifyjs
/webpack-dev-server
/csso.cmd
/in-publish
/ansi-html
/sassgraph.cmd
/errno.cmd
/node-gyp
/esvalidate
/not-in-publish.cmd
/ng.cmd
/user-home.cmd
/in-install.cmd
/miller-rabin
/miller-rabin.cmd
/jasmine
/he.cmd
/stylus
/_ts-node
/karma
/regjsparser
/loose-envify.cmd
/errno
/js-yaml.cmd
/strip-indent.cmd
/svgo
/acorn.cmd
/rimraf
/esvalidate.cmd
/ng-xi18n.cmd
/not-in-install
/sshpk-verify.cmd
/nopt
/image_bucket
node_modules.zip
/api/documentation/
