<div class="row" style="max-width: 768px;">
  <div class="col-12 title-bar pt-2 pb-2 text-center">
    <h5 class="title-bar m-0"> Move Template to catalog </h5>
  </div>
  <div class="col-12 pt-3 pb-3 scroll" style="height: calc(85vh - 100px); overflow:auto;">
    <md-accordion class="headers-align mb-ctlg-acc" multi="true">
      <md-expansion-panel class="m-0" *ngFor="let sub_category_details of sub_category_list; let i = index;"
        style="border-bottom: 1px solid #d2d2d2;">
        <md-expansion-panel-header [style.background]="sub_category_details.has_tplt==true ? '#91ce91' : '#e1e1e1'"
          style="background: #e1e1e1; max-height: 40px !important; height: 40px; line-height: 40px; font-weight: bold; border-bottom: 1px solid #d2d2d2;">
          <md-panel-title style="line-height: 40px; font-size: 16px;">
            {{i+1}}. {{sub_category_details.sub_category_name}}
          </md-panel-title>
          <md-panel-description style="line-height: 40px;">
            Total catalogs: {{sub_category_details.catalog_list.length}}
          </md-panel-description>
        </md-expansion-panel-header>
        <div class="row">
          <div class="col-12 p-0 table-responsive">
            <table class="table table-hover m-0">
              <tbody>
                <tr *ngFor="let catalog_details of sub_category_details.catalog_list; let i = index;">
                  <td class="width-50px p-1 text-right">{{i+1}}. </td>
                  <td class="p-1">{{catalog_details.catalog_name}}</td>
                  <td class="width-75px p-1">
                    <input type="checkbox" class="option-input" [(ngModel)]="catalog_details.is_linked" name="group1"
                      (change)="upChkVls(catalog_details, $event)" />
                  </td>
                </tr>
              </tbody>
            </table>
            <h5 *ngIf="sub_category_details.catalog_list.length==0" class="mt-2 small text-center font-weight-bold">No
              data found...</h5>
          </div>
        </div>
      </md-expansion-panel>
    </md-accordion>
    <h5 *ngIf="sub_category_list.length==0" class="mt-2 small text-center font-weight-bold">No
      data found...</h5>
  </div>
  <div class="col-12 pt-2 pb-2 text-center">
    <span class="text-danger">{{errorMsg}}</span><br>
    <button md-raised-button class="btn btn-action-1 mr-2" (click)="mvTplt()">Move</button>
    <button md-raised-button class="btn btn-action-cancel" [md-dialog-close]="true">Cancel</button>
  </div>
</div>
