<div class="row">
  <div class="col-12 title-bar pt-2 pb-2 text-center">
    <h5 class="title-bar m-0"> Move Template to catalog </h5>
  </div>
  <div class="col-12 pt-3 pb-3 scroll" style="height: calc(85vh - 100px); overflow:auto; width:500px;">
    <md-accordion class="headers-align" multi="true">
      <md-expansion-panel class="m-0" *ngFor="let sub_category_details of sub_category_list; let i = index;"
        style="border-bottom: 1px solid #d2d2d2;" (opened)="viewServerDetails(sub_category_details)">
        <md-expansion-panel-header
          style="background: #ffe8c7; max-height: 48px !important; height: 48px; line-height: 48px; font-weight: bold; border-bottom: 1px solid #d2d2d2;">
          <md-panel-title style="line-height: 48px; font-size: 17px;">
            {{i+1}}. {{sub_category_details.sub_category_name}}
          </md-panel-title>
          <md-panel-description style="line-height: 48px;">
            Total catalogs: {{sub_category_details.catalog_list.length}}
          </md-panel-description>
        </md-expansion-panel-header>
        <div class="row">
          <div class="col-12 p-0 table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let catalog_details of sub_category_details.catalog_list; let i = index;">
                  <td class="width-50px">{{i+1}}</td>
                  <td>{{catalog_details.catalog_name}}</td>
                  <td>{{catalog_details.is_linked}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-expansion-panel>
    </md-accordion>
  </div>
</div>
