/*
 * Optimumbrew Technology

 * Project       : Photo Editor Lab
 * File          : style.scss
 * File Created  : Wednesday, 28th October 2020 02:17:46 pm
 * Author        : Optimumbrew
 * Auther Email  : info@optimumbrew.com
 * Last Modified : Thursday, 29th October 2020 10:54:45 am
 * -----
 * Copyright 2018 - 2020 Optimumbrew Technology
 */

 ::ng-deep ng2-smart-table table thead tr{
    th{
        ng2-smart-table-title{
            a{
                font-weight: 700 !important;
            }
         
        }
    }
        &:first-child{
            th{
                position: sticky !important;
                top: -2px !important;
                background: #fff;
                z-index: 1;
                font-weight: 700 !important;
            }
        }
        &:last-child{
            th{
                position: sticky !important;
                top: 46px !important;
                background: #fff;
                z-index: 1;
            }
        }
}
.p-0{
    padding: 0px !important;
}
.placeholder-img{
    position: absolute;
    width: 100%;
    left: 0;
    animation : shimmer 4s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
