<!--
Optimumbrew Technology

Project       : Photo Editor Lab
File          : catalogsget.component.html
File Created  : Friday, 16th October 2020 11:08:55 am
Author        : Optimumbrew
Auther Email  : info@optimumbrew.com
Last Modified : Thursday, 29th October 2020 11:01:20 am
-----
Copyright 2018 - 2020 Optimumbrew Technology
-->


<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 pl-0">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item main-home" nbTooltip="Go to categories" nbTooltipPlacement="bottom"
            nbTooltipStatus="primary" (click)="gotoCategories()">Categories</li>
          <li class="breadcrumb-item main-home" nbTooltip="Go to {{ broadHome }}" nbTooltipPlacement="bottom"
            nbTooltipStatus="primary" (click)="gotoSubCategory()">{{ broadHome }}</li>
          <li class="breadcrumb-item active" aria-current="page">{{ broadItem }}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-6 text-right">
    <nb-card class="w-355 ml-auto">
      <nb-card-header class="text-center fs-17 fw-700 p-7">
        TOTAL CATALOGS : {{ totalRecords }}
      </nb-card-header>
    </nb-card>

  </div>
</div>
<div class="row card-summary mb-2">
  <div class="col-md-12">
    <!-- <nb-card>
      <nb-card-header>
      
      </nb-card-header>
    </nb-card> -->
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input type="text" style="background:#fff" nbInput placeholder="Search catalog name here" valid-status="false"
            id="calogSearchInput" [(ngModel)]="searchQuery"
            (keyup)="checkValidation('calogSearchInput','','catCalogError','','','blank')"
            (keyup.enter)="checkValidation('calogSearchInput','','catCalogError',errormsg.SEARCH_QUERY_EMPTY,'','usual')">
          <p id="catCalogError" style="color: red;margin-bottom: 0px;height: 14px;"></p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <button id="subCalogButton" class="btn btn-primary w-100" (click)="searchCategory()">Search</button>
        </div>
      </div>
      <div class="col-md-1 col-3">
        <button class="btn btn-refresh" nbTooltip="Refresh" nbTooltipPlacement="bottom" nbTooltipStatus="default"
          (click)="refreshPage()"><i class="fas fa-sync-alt"></i></button>
      </div>
      <div class="col-md-6 col-9 text-right pr-0" *ngIf="!multiselectFlag">
        <button class="btn btn-primary btn-add-cat mr-3" (click)="catalogIdArr = [];multiselectFlag = true;selectedCatalogType = '1'">Select Catalogs</button>
        <button class="btn btn-primary btn-add-cat mr-3" (click)="addCatalog();">Add Catalog</button>
      </div>
      <div class="col-md-6 text-right pr-0" *ngIf="multiselectFlag" style="position: relative;">
        <div class="form-group">
          <nb-radio-group style="display: flex;position: absolute;" [(ngModel)]="selectedCatalogType" id="radioCalogPriInput" name="my-radio-group4">
            <nb-radio value="1" (click)="catalogIdArr = []">Featured
            </nb-radio>
            <nb-radio value="2" (click)="catalogIdArr = []">Normal
            </nb-radio>
          </nb-radio-group>
        </div>
        <button class="btn btn-success mr-2 w-10" (click)="setRankForAllCatalog()">Set Rank</button>
        <button class="btn btn-primary mr-2" (click)="selectAllCatalog()" [disabled]='(selectedCatalogType == "1" && featuredCatalogList.length == 0) || (selectedCatalogType == "2" && normalCatalogList.length == 0)'>Select
          All</button>
        <button class="btn btn-primary mr-2" (click)="catalogIdArr = []" [disabled]='catalogIdArr.length == 0'>Remove
          All</button>
        <button class="btn btn-danger mr-2 w-10" (click)="catalogIdArr = [];multiselectFlag = false;selectedCatalogType = '1'">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="catalog-data">
  <div class="row">
    <div class="col-md-12">
      <nb-accordion>
        <nb-accordion-item expanded="true">
          <nb-accordion-item-header>
            <div class="row w-100">
              <div class="col-md-9 col-6">
                Templates
              </div>
              <div class="col-md-3 col-6 text-right">
                Total count: {{ featuredCatalogList.length }}
              </div>
            </div>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <virtual-scroller #scroll [items]="featuredCatalogList" enableUnequalChildrenSizes="true" [style.max-height]="featuredCatalogList.length == 0 ? '0' : 'calc(100vh - 366px)'">
                <div class="col-xl-2 col-md-3 col-sm-3 pr-0 pl-0" [id]="'div-'+i" *ngFor="let item of scroll.viewPortItems; let i = index">
                  <nb-card class="card-content">
                    <div class="picture text-center" style="position: relative;overflow: hidden;"
                      (click)="!multiselectFlag && selectedCatalogType == '1'?viewCatalog(item):addCatalogRank($event,item.catalog_id)">
                      <img class="placeholder-img">
                      <img [lazyLoad]="item.webp_original_img?item.webp_original_img:item.thumbnail_img"
                        [errorImage]="utils.errorImg" alt="{{item.name}} thumbnail image" (load)="imageLoad($event)">
                      <div *ngIf="item.is_free==0" class="ribbon-wrapper-yellow">
                        <div class="ribbon-yellow">Android PRO</div>
                      </div>
                      <div *ngIf="item.is_ios_free==0" class="ribbon-wrapper-green">
                        <div class="ribbon-green">IOS PRO</div>
                      </div>
                      <div class="catalog-icon"
                        *ngIf="item.catalog_type && item.popularity_rate && item.catalog_type == 1 && item.popularity_rate == 5"
                        nbTooltip="Popular Catalog" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint">
                        <img src="./assets/popular-icon.jpg">
                      </div>
                      <div class="catalog-icon" *ngIf="item.catalog_type && item.catalog_type != 1"
                        nbTooltip="Event Catalog" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint">
                        <img src="./assets/event-icon.jpg">
                      </div>
                      <span class="rank-icon" style="opacity: 0.6;"
                          *ngIf="multiselectFlag && selectedCatalogType == '1' && catalogIdArr.indexOf(item.catalog_id) == -1"></span>
                      <span class="rank-icon"
                          *ngIf="multiselectFlag && selectedCatalogType == '1' && catalogIdArr.indexOf(item.catalog_id) != -1">{{ catalogIdArr.indexOf(item.catalog_id) + 1 }}</span>    
                    </div>
                    <div class="details">
                      <div [nbTooltip]="item.catalog_id+'. '+item.name" nbTooltipPlacement="bottom"
                        nbTooltipStatus="primary">{{item.catalog_id}}. {{item.name}}</div>
                    </div>
                    <nb-card-footer style="background: #e1e8f3;padding: 10px !important;">
                      <a nbTooltip="View" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
                        (click)="viewCatalog(item)">
                        <nb-icon icon="folder" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Edit" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
                        (click)="editCatalog(item , i)">
                        <nb-icon icon="edit-2" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Delete" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
                        (click)="deleteCatalog(item.catalog_id)">
                        <nb-icon icon="trash-2" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Link this catalog" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint" (click)="linkCatalog(item)">
                        <nb-icon icon="link-2" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Move to first" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint" (click)="moveToFirst(item,'feature',i)">
                        <nb-icon icon="upload" pack="eva"></nb-icon>
                      </a>
                    </nb-card-footer>
                  </nb-card>
                  <img src="./assets/featured_img.png" *ngIf="item.is_featured==1" class="label-img">
                  <div class="fullscreen-icon" *ngIf="!multiselectFlag"
                    style="background:lightgray;position: absolute;top: 0;right: 6px;cursor: pointer;"
                    (click)="viewImage(item.compressed_img)">
                    <img src="./assets/expand.png" style="width: 25px">
                  </div>
                </div>
              </virtual-scroller>
              <div class="col-md-12 text-center" *ngIf="featuredCatalogList.length == 0">
                <img src="./assets/data-not-found.png" style="width:180px">
                <h2>No data found</h2>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            <div class="row w-100">
              <div class="col-md-9 col-6">
                Collections
              </div>
              <div class="col-md-3 col-6 text-right">
                Total count: {{ normalCatalogList.length }}
              </div>
            </div>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class="col-md-12 text-center" *ngIf="normalCatalogList.length == 0">
                <img src="./assets/data-not-found.png" style="width:180px">
                <h2>No data found</h2>
              </div>
              <virtual-scroller #data [items]="normalCatalogList" enableUnequalChildrenSizes="true" [style.max-height]="normalCatalogList.length == 0 ? '0' : 'calc(100vh - 366px)'">
                <div class="col-xl-2 col-md-3 col-sm-3 pr-0 pl-0" *ngFor="let item of data.viewPortItems;let i = index;">
                  <nb-card class="card-content">
                    <div class="picture text-center" style="position: relative;overflow: hidden;"
                    (click)="!multiselectFlag && selectedCatalogType == '1'?viewCatalog(item):addCatalogRank($event,item.catalog_id)">
                      <img class="placeholder-img">
                      <img [lazyLoad]="item.webp_original_img?item.webp_original_img:item.thumbnail_img"
                        [errorImage]="utils.errorImg" alt="{{item.name}} thumbnail image" (load)="imageLoad($event)">
                        <div *ngIf="item.is_free==0" class="ribbon-wrapper-yellow">
                          <div class="ribbon-yellow">Android PRO</div>
                        </div>
                        <div *ngIf="item.is_ios_free==0" class="ribbon-wrapper-green">
                          <div class="ribbon-green">IOS PRO</div>
                        </div>
                      <div class="catalog-icon"
                        *ngIf="item.catalog_type && item.popularity_rate && item.catalog_type == 1 && item.popularity_rate == 5"
                        nbTooltip="Popular Catalog" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint">
                        <img src="./assets/popular-icon.jpg">
                      </div>
                      <div class="catalog-icon" *ngIf="item.catalog_type && item.catalog_type != 1"
                        nbTooltip="Event Catalog" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint">
                        <img src="./assets/event-icon.jpg">
                      </div>
                      <span class="rank-icon" style="opacity: 0.6;"
                          *ngIf="multiselectFlag && selectedCatalogType == '2' && catalogIdArr.indexOf(item.catalog_id) == -1"></span>
                      <span class="rank-icon"
                          *ngIf="multiselectFlag && selectedCatalogType == '2' && catalogIdArr.indexOf(item.catalog_id) != -1">{{ catalogIdArr.indexOf(item.catalog_id) + 1 }}</span>    
                    </div>
                    <div class="details">
                      <div [nbTooltip]="item.catalog_id+'. '+item.name" nbTooltipPlacement="bottom"
                        nbTooltipStatus="primary">{{item.catalog_id}}. {{item.name}}</div>
                    </div>
                    <nb-card-footer style="background: #e1e8f3;padding: 10px !important;">
                      <a nbTooltip="View" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
                        (click)="viewCatalog(item)">
                        <nb-icon icon="folder" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Edit" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
                        (click)="editCatalog(item)">
                        <nb-icon icon="edit-2" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Delete" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
                        (click)="deleteCatalog(item.catalog_id)">
                        <nb-icon icon="trash-2" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Link this catalog" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint" (click)="linkCatalog(item)">
                        <nb-icon icon="link-2" pack="eva"></nb-icon>
                      </a>
                      <a nbTooltip="Move to first" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                        nbTooltipTrigger="hint" (click)="moveToFirst(item,'normal',i)">
                        <nb-icon icon="upload" pack="eva"></nb-icon>
                      </a>
                    </nb-card-footer>
                  </nb-card>
                  <img src="./assets/featured_img.png" *ngIf="item.is_featured==1" class="label-img">
                  <div class="fullscreen-icon" *ngIf="!multiselectFlag"
                    style="background:lightgray;position: absolute;top: 0;right: 6px;cursor: pointer;"
                    (click)="viewImage(item.compressed_img)">
                    <img src="./assets/expand.png" style="width: 25px">
                  </div>
                </div>
              </virtual-scroller>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
  </div>
</div>
