<!-- *****************************************************************************
OptimumBrew Technology Pvt. Ltd.

Title:            photoadking - admin
File:             Enter Password TS
Since:            30 Nov, 2018
Author:           Umesh Patadiya
Email:            umeshpatadiya1995@gmail.com

****************************************************************************** -->

<div class="col-12 pt-2 pb-2 pr-0 pl-0 title-bar text-center">
  <h5 class="title-bar m-0 modal-title"> Please enter password </h5>
</div>
<div class="col-12 pt-4 pl-4 pr-4">
  <md-form-field class="custom-form-controls">
    <input mdInput type="password" placeholder="Enter current password here..." name="current_password" class="d-block"
      (keydown.enter)="disable2faByAdmin(passwordData)" [(ngModel)]="passwordData.current_password">
  </md-form-field>
</div>
<div class="col-12 text-center pb-4 pt-1">
  <button md-raised-button class="btn btn-action-1 mr-3" (click)="disable2faByAdmin(passwordData)">Submit</button>
  <button md-raised-button class="btn btn-action-cancel" [md-dialog-close]="true">Cancel</button>
</div>
