<!--
Optimumbrew Technology

Project       : Photo Editor Lab
File          : loading.component.html
File Created  : Thursday, 15th October 2020 01:12:03 pm
Author        : Optimumbrew
Auther Email  : info@optimumbrew.com
Last Modified : Thursday, 29th October 2020 11:26:10 am
-----
Copyright 2018 - 2020 Optimumbrew Technology
-->


<!-- <nb-card>
  <nb-card-body>
    <div style="height: 95px;" class="loading-css">
      <div style="padding: 20px;">
       
      </div>
    </div>
  </nb-card-body>
</nb-card> -->
<div style="text-align: center;background: #fff;padding: 23px 51px;">
  <div class="loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
  <div style="font-size: medium; margin-top: 10px;">
    Please Wait...
  </div>
</div>
