<div class="row header-style">
  <div class="col-sm-12 pr-0 pl-0">
    <app-header></app-header>
  </div>
</div>
<div class="row height-100">
  <div class="col-lg-2 pl-0 pr-0">
    <app-navigation></app-navigation>
  </div>
  <div class="col-lg-10 pt-3 pb-3 div-scroll">
    <div class="row pb-2 pt-2 title-bar">
      <div class="col pl-2 pr-2 text-center">
        <p class="m-0 font-18">Categories : {{total_record}}</p>
      </div>
    </div>
    <div class="row pr-0 pl-0">
      <div class="col-sm-12 card-1 pl-0 pr-0 table-responsive mb-3 table-style scroll">
        <table class="table table-hover mb-0">
          <thead>
            <tr class="table-inverse">
              <th class="width-75px">#</th>
              <th>Category Name</th>
              <th class="text-center width-120px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of category_list; let i = index;">
              <td class="width-75px">{{i+1}}</td>
              <td class="cursor-pointer" (click)="viewCategory(category)">{{category.name}}</td>
              <td class="text-center width-120px">
                <a title="View"><i class="fa fa-folder-open-o font-24 text-success cursor-pointer" (click)="viewCategory(category)"></i></a>
                <a title="Update"><i class="fa fa-edit font-24 pr-2 pl-2 text-warning align-text-bottom cursor-pointer"
                    (click)="updateCategory(category)"></i></a>
                <!--<a title="Delete"><i class="fa fa-trash-o font-24 text-danger cursor-pointer" (click)="deleteCategory(category)"></i></a>-->
              </td>
            </tr>
          </tbody>
        </table>
        <h5 *ngIf="total_record==0" class="pb-3 pt-3 pl-3 m-0">
          No Data Found
        </h5>
      </div>
    </div>
    <div class="row pr-0 pl-0">
      <div class="col-12 text-center">
        <ngb-pagination [collectionSize]="total_record" [(page)]="currentPage" [maxSize]="5" [rotate]="true" *ngIf="total_record>itemsPerPage"
          [directionLinks]="false" [boundaryLinks]="true" (pageChange)="pageChanged($event)" [pageSize]="itemsPerPage"
          class="inline-block mt-3"></ngb-pagination>
      </div>
    </div>
  </div>
  <div class="row pr-0 pl-0">
    <button md-fab class="btn add-button" (click)="addCategory()"><i class="fa fa-plus fa-2x"></i></button>
  </div>