<div style="height: 95px;" class="loading-css">
    <div style="padding: 20px;">
        <div style="text-align: center;background-color: transparent;">
            <div class="loading">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
            <div style="font-size: medium; margin-top: 10px;">
                Please Wait...
            </div>
        </div>
    </div>
</div>