<div class="row p-0" style="width:35vw;">
  <div class="col-lg-12 p-0">
    <div class="row pb-2 pt-2 title-bar">
      <div class="col pl-2 pr-2">
        <h5 class="pull-left pt-1 pl-3">{{content_details.name}}</h5>
        <h6 class="pull-right m-0 pt-1">Total Records : {{total_record}}</h6>
        <button class="form-control btn search-query-reset hidden-md-down" (click)="resetAll()">
          <i class="fa fa-refresh"></i>
        </button>
        <md-select placeholder=" " [(ngModel)]="itemsPerPage" class="itemsPerPage-query-dropdown mr-2 pull-right"
          (change)="itemPerPageChanged(itemsPerPage)">
          <md-option *ngFor="let items of itemsPerPageArray" [value]="items.itemPerPageValue">
            {{items.itemPerPageName}}
          </md-option>
        </md-select>
      </div>
    </div>
    <div class="col-12 p-3">
      <div class="input-group form-control"
        style="width: calc(100% - 104px); display: inline-block; vertical-align: middle;" daterangepicker
        [options]="pickerOptions" (selected)="updateRange($event)">
        <span class="uneditable-input" name="daterange">
          {{selected_range}}
        </span>
      </div>
      <button class="btn btn-success" (click)="getDataByRange()">View info</button>
    </div>
    <div class="row pr-3 pl-3">
      <div class="col-sm-12 card-1 pl-0 pr-0 table-responsive mb-3 table-style scroll"
        style="max-height: calc(100vh - 150px); overflow: auto;">
        <table class="table table-hover mb-0">
          <thead>
            <tr class="table-inverse">
              <th>#</th>
              <th class="cursor-pointer"
                (click)="sortBy('uploaded_content_count', order_type == true ? 'ASC' : 'DESC')">Uploaded
                Content
              </th>
              <th class="text-center cursor-pointer" (click)="sortBy('date', order_type == true ? 'ASC' : 'DESC')">
                Last Uploaded on</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let content_details of content_list; let i = index;">
              <td>{{i+1+(itemsPerPage * (currentPage-1))}}</td>
              <td>{{content_details.uploaded_content_count}}</td>
              <td class="text-center">{{content_details.date}}</td>
            </tr>
          </tbody>
        </table>
        <h5 *ngIf="total_record==0" class="pb-3 pt-3 pl-3 m-0">
          No Data Found
        </h5>
      </div>
    </div>
    <div class="row pr-0 pl-0">
      <div class="col-12 text-center">
        <ngb-pagination [collectionSize]="total_record" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
          *ngIf="total_record>itemsPerPage" [directionLinks]="false" [boundaryLinks]="true"
          (pageChange)="pageChanged($event)" [pageSize]="itemsPerPage" class="inline-block mt-3"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
