<div class="row header-style">
  <div class="col-sm-12 pr-0 pl-0">
    <app-header></app-header>
  </div>
</div>
<div class="row height-100">
  <div class="col-lg-2 pl-0 pr-0">
    <app-navigation></app-navigation>
  </div>
  <div class="col-lg-10 pt-3 pb-3 div-scroll">
    <div class="row pb-2 pt-2 title-bar">
      <div class="col pl-2 pr-2">
        <!-- <md-select placeholder=" " [(ngModel)]="searchTag" class="search-query-dropdown mr-2 hidden-md-down">
          <md-option *ngFor="let searchItem of searchArray" [value]="searchItem.searchTagValue">
            {{searchItem.searchTagName}}
          </md-option>
        </md-select>
        <input [(ngModel)]="searchQuery" class="form-control search-query-input hidden-md-down" (keydown.enter)="searchData(searchQuery, searchTag)"
          placeholder="Search Query...">
        <button class="form-control btn search-query-call hidden-md-down" (click)="searchData(searchQuery, searchTag)">
          <i class="fa fa-search"></i>
        </button>
        <button class="form-control btn search-query-reset hidden-md-down" (click)="do_reset()">
          <i class="fa fa-refresh"></i>
        </button>
        <p class="ml-2 pt-1 mb-0 float-left hidden-md-down">{{searchErr}}</p> -->
        <h5 class="m-0 pt-1 pb-1">Search Tags : {{total_record}}</h5>
        <!-- <md-select placeholder=" " [(ngModel)]="itemsPerPage" class="itemsPerPage-query-dropdown mr-2 pull-right"
          (change)="itemPerPageChanged(itemsPerPage)">
          <md-option *ngFor="let items of itemsPerPageArray" [value]="items.itemPerPageValue">
            {{items.itemPerPageName}}
          </md-option>
        </md-select> -->
      </div>
    </div>
    <div class="row pr-0 pl-0">
      <div class="col-12 p-0">
        <input type="text" class="form-control mr-3" placeholder="Enter new tag name here..." (keydown.enter)="addTag(tag_name)"
          style="width: calc(100% - 115px); display: inline-block; vertical-align: middle;" [(ngModel)]="tag_name">
        <a class="title-bar btn mt-2 mb-2" (click)="addTag(tag_name)">Add Tag</a>
      </div>
      <div class="col-sm-12 card-1 pl-0 pr-0 table-responsive mb-3 table-style scroll">
        <table class="table table-hover mb-0">
          <thead>
            <tr class="table-inverse">
              <th style="width: 60px;">#</th>
              <th class="cursor-pointer">Tag Name</th>
              <th class="cursor-pointer text-center" style="width: 120px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let search_tag of search_tag_list; let i = index;">
              <td>{{i+1+(itemsPerPage * (currentPage-1))}}</td>
              <td *ngIf="search_tag.is_update==false">{{search_tag.tag_name}}</td>
              <td *ngIf="search_tag.is_update==true">
                <input type="text" class="form-control" placeholder="Update tag name..." (keydown.enter)="updateSeatchTag(search_tag)"
                  [(ngModel)]="search_tag.tag_name">
              </td>
              <td class="text-center" *ngIf="search_tag.is_update==false">
                <a class="cursor-pointer font-18 mr-2" (click)="showUpdate(search_tag)"><i class="fa fa-edit text-warning"></i></a>
                <a class="cursor-pointer font-18" (click)="deleteTag(search_tag)"><i class="fa fa-trash text-danger"></i></a>
              </td>
              <td class="text-center" *ngIf="search_tag.is_update==true">
                <a class="btn btn-success text-white pt-1 pb-1" (click)="updateSeatchTag(search_tag)">Update</a>
              </td>
            </tr>
          </tbody>
        </table>
        <h5 *ngIf="total_record==0" class="pb-3 pt-3 pl-3 m-0">
          No Data Found
        </h5>
      </div>
    </div>
    <!-- <div class="row pr-0 pl-0">
      <div class="col-12 text-center">
        <ngb-pagination [collectionSize]="total_record" [(page)]="currentPage" [maxSize]="5" [rotate]="true" *ngIf="total_record>itemsPerPage"
          [directionLinks]="false" [boundaryLinks]="true" (pageChange)="pageChanged($event)" [pageSize]="itemsPerPage"
          class="inline-block mt-3"></ngb-pagination>
      </div>
    </div> -->
  </div>
  <!--   <div class="row pr-0 pl-0">
    <button md-fab class="btn add-button" (click)="addCategory()">
      <i class="fa fa-plus fa-2x"></i>
    </button>
  </div> -->