<div class="row header-style">
  <div class="col-sm-12 pr-0 pl-0">
    <app-header></app-header>
  </div>
</div>
<div class="row height-100">
  <div class="pl-0 pr-0 left-nav-style h-100">
    <app-navigation></app-navigation>
  </div>
  <div class="p-3 div-scroll main-container-style">
    <div class="cst-panel mb-3">
      <div class="cst-panel-title">
        <p class="m-0 font-18">Search Tags : {{total_record}}</p>
      </div>
      <div class="cst-panel-body">
        <div class="row pr-0 pl-0">
          <div class="col-12 p-2">
            <div class="input-group">
              <input class="form-control" placeholder="Enter new tag name here..." type="text"
                (keydown.enter)="addTag(tag_name)" [(ngModel)]="tag_name">
              <div class="input-group-append">
                <button class="btn btn-action-1" (click)="addTag(tag_name)">Add Tag</button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 px-0 table-responsive search-tag-scroll scroll">
            <table class="table table-hover mb-0">
              <thead>
                <tr class="table-inverse">
                  <th style="width: 60px;" class="sticky-th">#</th>
                  <th class="cursor-pointer sticky-th">Tag Name</th>
                  <th class="cursor-pointer text-center sticky-th" style="width: 120px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let search_tag of search_tag_list; let i = index;">
                  <td>{{i+1+(itemsPerPage * (currentPage-1))}}</td>
                  <td *ngIf="search_tag.is_update==false">{{search_tag.tag_name}}</td>
                  <td *ngIf="search_tag.is_update==true">
                    <input type="text" class="form-control editing-textbox" placeholder="Update tag name..."
                      (keydown.enter)="updateSeatchTag(search_tag)" [(ngModel)]="search_tag.tag_name">
                  </td>
                  <td class="text-center" *ngIf="search_tag.is_update==false">
                    <a class="cursor-pointer font-18 mr-2" (click)="showUpdate(search_tag)"><i
                        class="fa fa-edit text-warning"></i></a>
                    <a class="cursor-pointer font-18" (click)="deleteTag(search_tag)"><i
                        class="fa fa-trash text-danger"></i></a>
                  </td>
                  <td class="text-center" *ngIf="search_tag.is_update==true">
                    <a class="btn btn-success text-white pt-1 pb-1" (click)="updateSeatchTag(search_tag)">Update</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5 *ngIf="total_record==0" class="pb-3 pt-3 pl-3 m-0">
              No Data Found
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
