<div class="row header-style">
  <div class="col-sm-12 pr-0 pl-0">
    <app-header></app-header>
  </div>
</div>
<div class="row height-100">
  <div class="pl-0 pr-0 left-nav-style h-100">
    <app-navigation></app-navigation>
  </div>
  <div class="p-3 div-scroll main-container-style">
    <div class="cst-panel">
      <div class="cst-panel-title row">
        <div class="col-md-12 px-0">
          <h5 class="pull-right m-0 pt-1">Total Records : {{total_record}}</h5>
        </div>
      </div>
      <div class="cst-panel-body">
        <div class="col-sm-12 text-right">
          <a md-raised-button class="btn mt-1 mb-1 title-bar" style="font-weight: bold;" (click)="ivkAddBlg()">
            <i class="fa fa-book" style="font-size: 30px; padding-right:8px;"></i>
            Add Blog</a>
          <!-- <a md-raised-button class="btn mt-1 mb-1 title-bar" style="font-weight: bold;" (click)="ivkAddBlg('android')">
              <i class="fa fa-android" style="font-size: 30px; padding-right:8px;"></i>
              Add Blog</a>
            <a md-raised-button class="btn mt-1 mb-1 mr-1 title-bar" style="font-weight: bold;" (click)="ivkAddBlg('ios')">
              <i class="fa fa-apple" style="font-size: 30px; padding-right:3px;"></i>
              Add Blog</a> -->
        </div>
        <div class="row pr-3 py-2 tbl-style-subcategory scroll">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 pr-0" *ngFor="let blog of blog_list">
            <div class="col-12 pl-0 pr-0 background-card card card-1 text-center">
              <div class="card-img-wrap">
                <img class="background-card-sticker cursor-pointer" [src]="blog.original_img"
                  (click)="dataService.viewImage(blog.original_img)" alt="{{blog.name}} thumbnail image">
              </div>
              <div class="row title-bar pt-2 pb-2 font-18 align-middle">
                <div class="col-12 pl-0 pr-0">
                  <a title="Update">
                    <i class="fa fa-edit font-23 text-warning align-text-bottom cursor-pointer"
                      (click)="ivkUpdateBlg(blog)"></i>
                  </a>
                  <a title="Delete">
                    <i class="fa fa-trash-o font-24 text-danger cursor-pointer" (click)="ivkDelBlg(blog)"></i>
                  </a>
                  <a title="Move to first" class="cursor-pointer mr-2" (click)="moveToFirst(blog)">
                    <svg class="action-btn" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24 32h336c13.3 0 24 10.7 24 24v24c0 13.3-10.7 24-24 24H24C10.7 104 0 93.3 0 80V56c0-13.3 10.7-24 24-24zm66.4 280.5l65.6-65.6V456c0 13.3 10.7 24 24 24h24c13.3 0 24-10.7 24-24V246.9l65.6 65.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L209 126.1c-9.4-9.4-24.6-9.4-33.9 0L39.5 261.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0z"
                        fill="#099407"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h5 *ngIf="total_record==0" class="pb-3 pt-3 pl-3 m-0 col-12">
            No Data Found
          </h5>
        </div>
      </div>
    </div>
    <div class="col-12 text-center pt-3">
      <!-- <span>Items per page</span> -->
      <md-select placeholder=" " *ngIf="showPagination" [(ngModel)]="itemsPerPage"
        class="itemsPerPage-query-dropdown mr-3 pagination-lst align-top" (change)="itemPerPageChanged(itemsPerPage)">
        <md-option *ngFor="let items of itemsPerPageArray" [value]="items.itemPerPageValue">
          {{items.itemPerPageName}}
        </md-option>
      </md-select>
      <ngb-pagination [collectionSize]="total_record" [(page)]="currentPage" [maxSize]="5" [rotate]="true"
        *ngIf="total_record>itemsPerPage" [directionLinks]="false" [boundaryLinks]="true"
        (pageChange)="pageChanged($event)" [pageSize]="itemsPerPage" class="inline-block align-top">
      </ngb-pagination>
    </div>
  </div>
</div>
