<div class="col-12 pt-2 pb-2 pr-0 pl-0 title-bar text-center">
  <h5 class="title-bar m-0"> Link Catalog </h5>
  <a class="cursor-pointer close-btn" (click)="closeDialog()"><i class="fa fa-close text-white font-18"></i></a>
</div>
<div class="col-sm-12 pr-0 pl-0 scroll" style="max-height:520px; height:520px; width:768px; max-width:100%; overflow:auto;">
  <table class="table mb-0">
    <tbody>
      <tr *ngFor="let catalog of catalog_list; let i = index;">
        <td>{{i+1}}</td>
        <td>{{catalog.name}}</td>
        <td class="text-center">
          <i class="fa fa-check fa-2x" *ngIf="catalog.linked==1"></i>
        </td>
        <td class="text-center">
          <a md-raised-button class="btn title-bar" title="Unlink from {{catalog.name}}" *ngIf="catalog.linked==1" (click)="linkCatalogWithSubCategory(catalog,'deleteLinkedCatalog')"><i class="fa fa-chain-broken text-danger font-18"></i></a>
          <a md-raised-button class="btn title-bar" title="Link with {{catalog.name}}" *ngIf="catalog.linked==0" (click)="linkCatalogWithSubCategory(catalog,'linkCatalog')"><i class="fa fa-link text-white font-18"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="total_record==0" class="pb-3 pt-3 pl-3 m-0">
    No Data Found
  </h5>
</div>
<div class="col-12 pr-0 pl-0 text-center">
  <h6 *ngIf="errorMsg" class="pt-3 pb-3 m-0 text-center text-danger">{{errorMsg}}</h6>
  <h6 *ngIf="successMsg" class="pt-3 pb-3 m-0 text-center text-primary">{{successMsg}}</h6>
</div>