<nb-card class="dialog mb-0" (keyup.enter)="onsubmit()">
    <nb-card-header class="position-relative">
        <h5 class="mb-4 pb-2 text-center">Upadate Template's Tag</h5>
        <i class="fa fa-times close-icon position-absolute close" title="Close" (click)="close()"></i>
        <div class="row mr-2">
            <div class="col-6">
                <div class="d-flex align-items-center">
                    <input type="text" class="searchInput" nbInput fullWidth [(ngModel)]="inputVal" status="basic"
                        placeholder="Enter Tag to Search Template">
                    <button nbButton size="small" class="mx-2 border searchButton" shape="squer"
                        (click)="searchByTags()">
                        <nb-icon icon="search"></nb-icon>
                    </button>
                </div>
                <div class="mt-2">
                    <div class="height-30">
                        <p class="text-danger font-12 mb-1" *ngIf="showInputError">Enter Valid Tag</p>
                        <button nbButton shape="round" outline class="mr-1 mt-1" *ngFor="let name of tagList"
                            size="tiny" status="info">{{ name }} <nb-icon icon="close" status="danger"
                                (click)="removeTags(name)">
                            </nb-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row border py-2">
                    <div class="col-12 text-center border-bottom mb-2 pb-1">
                        <span class="mb-0 my-1 tag">Selected Tags </span>
                    </div>
                    <div class="col-12 height-30">
                        <button nbButton shape="round" class="mx-1 my-1" *ngFor="let data of filterDataFromPage"
                            size="tiny" status="info">{{ data }}</button>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="p-0">
        <div class="container-fluid px-0 px-sm-2">
            <nb-list class="container-fluid mt-2 dataCenter min-280 py-0 px-0 px-sm-2" nbInfiniteList [threshold]=".5"
                (bottomThreshold)="loadNext()">
                <nb-list-item class="row border-0 px-1 px-sm-2">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 my-3 d-flex justify-content-center"
                        *ngFor="let img of imgData">
                        <div class="d-flex justify-content-center align-items-center border-box position-relative ">
                            <img (click)="viewImage(img.sample_image);" src="{{ img.sample_image }}" alt="img" class="img_temp">
                            <input type="checkbox" class="positio-absolute check pointer"
                                (change)="addImgId(img.json_id , $event)">
                        </div>
                    </div>
                </nb-list-item>
            </nb-list>
        </div>
    </nb-card-body>
    <nb-card-footer class="text-center">
        <button class="my-1 w-25 btn btn-primary" status="Default" (click)="updateTag()">SAVE</button>
        <div class="text-center position-relative" *ngIf='pageLoader'>
            <div class="loadingio-spinner-ellipsis-ztq6y3y446e">
                <div class="ldio-ws8dh47c09">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>