<!--
Optimumbrew Technology

Project       : Photo Editor Lab
File          : addjsondata.component.html
File Created  : Wednesday, 21st October 2020 02:07:08 pm
Author        : Optimumbrew
Auther Email  : info@optimumbrew.com
Last Modified : Thursday, 29th October 2020 11:16:19 am
-----
Copyright 2018 - 2020 Optimumbrew Technology
-->


<nb-card class="add-json-data-card">
  <nb-card-header style="position: relative;">
    <h5 *ngIf="!upJSonData" class="text-center header-text">Add JSON Data</h5>
    <h5 *ngIf="upJSonData" class="text-center header-text">Update JSON Data</h5>
    <i class="fa fa-times close-icon" title="Close" (click)="closeDialog()"></i>
  </nb-card-header>
  <nb-card-body>
    <div class="row json-form-data">
      <div class="col-md-6 pt-4">
        <div class="d-flex justify-content-between">
          <div class="img-preview" id="jsonGIF">
            <!-- <img *ngIf="jsonImage" class="placeholder-img"> -->
            <img *ngIf="jsonGIF" [src]="jsonGIF"
              onerror="this.src='./assets/default-image-150x150.jpg';this.onerror='';" (load)="imageLoad($event)">
            <label for="fileInputGIF">
              <i class="fa fa-camera" title="Click here to choose image"></i>
            </label>
            <p class="input-label">GIF</p>
            <input type="file" id="fileInputGIF" autofocus="true" style="display: none;"
              (change)="fileChangeGIF($event)" accept="image/png, image/gif, image/jpeg" [disabled]="disableInputGIF">
          </div>
          <div class="img-preview" id="jsonImage" [attr.valid-status]="upJSonData?true:false">
            <img *ngIf="jsonImage" class="placeholder-img">
            <img *ngIf="jsonImage" [src]="jsonImage"
              onerror="this.src='./assets/default-image-150x150.jpg';this.onerror='';" (load)="imageLoad($event)">
            <label for="fileInput">
              <i class="fa fa-camera" title="Click here to choose image"></i>
            </label>
            <p class="input-label">Sample image</p>
            <input type="file" id="fileInput" autofocus="true" style="display: none;"
              (change)="this.selectedSubCategory.is_multi_page_support == 1?fileChangemultiple($event):fileChange($event)"
              accept="image/png, image/gif, image/jpeg"
              [attr.multiple]="selectedSubCategory.is_multi_page_support == 0?null:'multiple'"
              [disabled]="disableInputFile">
          </div>
          <div class="img-preview" id="jsonImageAfter">
            <!-- <img *ngIf="jsonImage" class="placeholder-img"> -->
            <img *ngIf="jsonImageAfter" [src]="jsonImageAfter"
              onerror="this.src='./assets/default-image-150x150.jpg';this.onerror='';" (load)="imageLoad($event)">
            <label for="fileInputAfter">
              <i class="fa fa-camera" title="Click here to choose image"></i>
            </label>
            <p class="input-label">After Image</p>
            <input type="file" id="fileInputAfter" autofocus="true" style="display: none;"
              (change)="fileChangeAfter($event)" accept="image/png, image/gif, image/jpeg"
              [disabled]="disableInputAfter">
          </div>
          <div class="img-preview" id="jsonCoverAfter">
            <!-- <img *ngIf="jsonImage" class="placeholder-img"> -->
            <img *ngIf="jsonImageCover" [src]="jsonImageCover"
              onerror="this.src='./assets/default-image-150x150.jpg';this.onerror='';" (load)="imageLoad($event)">
            <label for="fileInputCover">
              <i class="fa fa-camera" title="Click here to choose image"></i>
            </label>
            <p class="input-label">Cover Image <a *ngIf="jsonImageCover" nbTooltip="Delete" nbTooltipPlacement="bottom" nbTooltipStatus="primary" style="cursor:pointer;color: red;margin-left: 15px;" (click)="removeCoverImage()">
              <nb-icon icon="trash-2" pack="eva"></nb-icon>
            </a></p>
            <input type="file" id="fileInputCover" autofocus="true" style="display: none;"
              (change)="fileChangeCover($event)" accept="image/png, image/gif, image/jpeg"
              [disabled]="disableInputAfter">
          </div>
        </div>
        <p id="imageError" style="color: red;margin-bottom: 0px;margin-top: 4px;text-align: center;height: 14px;"></p>
        <div class="row mt-4">
          <div class="col-md-4 pr-0">
            <label class="d-block form-label">Android Pricing</label>
          </div>
          <div class="col-md-8 pl-0">
            <div class="form-group">
              <nb-radio-group [(ngModel)]="selectedPrice" [attr.valid-status]="upJSonData?true:false"
                id="radioCalogPriInput" name="my-radio-group1">
                <nb-radio value="1">Free
                </nb-radio>
                <nb-radio value="0">Paid
                </nb-radio>
              </nb-radio-group>
              <p id="radioPlaError" style="color: red;margin-bottom: 0px;margin-top: 4px;"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-0">
            <label class="d-block form-label">IOS Pricing</label>
          </div>
          <div class="col-md-8 pl-0">
            <div class="form-group">
              <nb-radio-group [(ngModel)]="selectedIOSPrice" [attr.valid-status]="upJSonData?true:false"
                id="radioCalogPriInputIOS" name="my-radio-groupios">
                <nb-radio value="1">Free
                </nb-radio>
                <nb-radio value="0">Paid
                </nb-radio>
              </nb-radio-group>
              <p id="radioPlaError" style="color: red;margin-bottom: 0px;margin-top: 4px;"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-0">
            <label class="d-block form-label">Type</label>
          </div>
          <div class="col-md-8 pl-0">
            <div class="form-group">
              <nb-radio-group [attr.valid-status]="upJSonData?true:false" id="radioCalogtypeInput"
                [(ngModel)]="selectedType" name="my-radio-group2">
                <nb-radio value="1">
                  Featured</nb-radio>
                <nb-radio value="0">
                  Normal</nb-radio>
              </nb-radio-group>
              <p id="radioPlaError" style="color: red;margin-bottom: 0px;margin-top: 4px;"></p>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 pr-0">
            <label class="d-block form-label">Orientation</label>
          </div>
          <div class="col-md-8 pl-0">
            <div class="form-group">
              <nb-radio-group [(ngModel)]="selectedStyle" [attr.valid-status]="upJSonData?true:false"
                id="radioCalogstyleInput" name="my-radio-group3">
                <nb-radio value="1">
                  Portrait</nb-radio>
                <nb-radio value="0">
                  Landscape</nb-radio>
              </nb-radio-group>
              <p id="radioPlaError" style="color: red;margin-bottom: 0px;margin-top: 4px;"></p>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-4 pr-0">
            <label class="d-block form-label">Activation</label>
          </div>
          <div class="col-md-8 pl-0">
            <div class="form-group">
              <nb-radio-group [(ngModel)]="is_activation" [attr.valid-status]="upJSonData?true:false"
                id="radioCalogactiveInput" name="my-radio-group4">
                <nb-radio value="1">
                  Active</nb-radio>
                <nb-radio value="0">
                  Deactive</nb-radio>
              </nb-radio-group>
              <p id="radioPlaError" style="color: red;margin-bottom: 0px;margin-top: 4px;"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-0">
            <label class="d-block form-label">Template Name</label>
          </div>
          <div class="col-md-8 pl-0">
            <div class="form-group">
              <input nbInput  type="text" class="mw-100 mb-1" *ngIf="upJSonData" [(ngModel)]="upJSonData.template_name"
             >
             <input nbInput  type="text" class="mw-100 mb-1" *ngIf="!upJSonData"  [(ngModel)]="template_name"
             >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input nbInput (keyup.enter)="add($event)" type="text" class="mw-100 mb-1"
                [formControl]="searchINputControl"  placeholder="Select / Enter new tag">
              <p id="tagInputError" style="color: red;margin-bottom: 3px;"></p>
              <mat-chip-list #chipList aria-label="Fruit selection" style="user-select: none;">
                <mat-chip class="rippleEffect" *ngFor="let fruit of selectedSearchTags" (click)="createRippleEffect($event)">
                  {{fruit}}
                  <i class="fa fa-times" style="margin-top: 5px;color:red;cursor: pointer;" matChipRemove
                    (click)="remove(fruit)"></i>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-0">
          <input type="file" accept='text/plain' title="Choose JSON File" class="form-control height-45"
            (change)="openFile($event)">
          <p id="jsonFileError" style="color: red;margin-bottom: 0px;margin-top: 4px;height: 14px;"></p>
        </div>
        <h6 class="mb-3">-- OR --</h6>
        <div class="form-group">
          <textarea nbInput class="mw-100" [(ngModel)]="jsonData" style="height: 418px;" placeholder="Enter JSON data"
            (keyup)="removeError()"></textarea>
        </div>
      </div>
      <div class="col-md-12 post-table-div pr-0" *ngIf="incorrect_fonts.length > 0">
        <table class="table">
          <thead style="background: #edf1f7;">
            <tr class="table-inverse">
              <th class="pt-1 pb-1 text-center" colspan="4">Incorrect fonts, Please update fonts in red color.</th>
            </tr>
            <tr>
              <th class="pt-1 pb-1">Your font name</th>
              <th class="pt-1 pb-1">Correct font name</th>
              <th class="pt-1 pb-1">Your font path</th>
              <th class="pt-1 pb-1">Correct font path</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let font_details of incorrect_fonts; let i = index;">
              <td [ngClass]="font_details.is_correct_name==0 ? 'text-danger' : 'text-success'">
                {{font_details.font_name}}
              </td>
              <td>{{font_details.correct_font_name}}</td>
              <td [ngClass]="font_details.is_correct_path==0 ? 'text-danger' : 'text-success'">
                {{font_details.font_path}}
              </td>
              <td>{{font_details.correct_font_path}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 post-table-div pr-0" *ngIf="mismatch_fonts.length > 0">
        <table class="table">
          <thead style="background: #edf1f7;">
            <tr class="table-inverse">
              <th class="pt-1 pb-1 text-center" colspan="4">Mismatched fonts, please ask designer to make corrections in
                JSON.</th>
            </tr>
            <tr>
              <th class="pt-1 pb-1">Your font name</th>
              <th class="pt-1 pb-1">Suggested font path</th>
              <th class="pt-1 pb-1">Your font path</th>
              <th class="pt-1 pb-1">Suggested font name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let font_details of mismatch_fonts; let i = index;">
              <td>{{font_details.font_name}}</td>
              <td>{{font_details.correct_font_path}}</td>
              <td>{{font_details.font_path}}</td>
              <td>{{font_details.correct_font_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p id="jsonAddError" style="color: red;margin-bottom: 4px;margin-top: 4px;text-align: center;height: 19px;">
        </p>
        <button *ngIf="!upJSonData" class="btn bg-primary w-25 text-light mr-1" id="saveJson"
          (click)="saveJson()">Save</button>
        <button *ngIf="upJSonData" class="btn bg-primary w-25 text-light mr-1" id="saveJson"
          (click)="saveJson()">Update</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
