@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #f8f8f8;
    /*overflow-y: scroll !important;*/
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0px !important;
}

.row {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

.btn {
    cursor: pointer;
    outline: none !important;
}

.cursor-pointer,
.cursor-pointer:hover {
    cursor: pointer !important;
}

.img-circle-style {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.image-rectangle-style {
    /*height:200px;*/
    max-width: 320px;
}

.height-100 {
    height: 100% !important;
}

.div-scroll {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    padding-bottom: 100px;
    background: #e3e3e3;
}

.action-btn {
    height: 25px;
    width: 25px;
    vertical-align: sub;
}

.card-1 {
    border: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
}

.card-1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.table-style {
    background-color: white !important;
   /*  max-height: 620px; */
    max-height: calc(100% - 85px);
}

.table td {
    vertical-align: middle;
}

.gradient-bg,
.gradient-bg:focus {
    background-color: #293B4D;
}

.auth-main {
    background-color: #293B4D;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.auth-block {
    width: 330px;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.notification-label {
    color: white !important;
    margin-bottom: 0px !important;
}

.message-body {
    min-height: 85px;
    margin: 0px -0.34375px 0px 0px;
    width: 100%;
    max-width: 100%;
    z-index: auto;
    position: relative;
    line-height: 20px;
    font-size: 14px;
    transition-duration: initial;
    transition-timing-function: initial;
    transition-property: none;
    background: transparent !important;
}

.admin-profile-background {
    color: #293B4D !important;
    background-color: #fff;
}

.title-bar {
    color: #fff !important;
    background-color: #293B4D !important;
}

.title-bar-del {
    color: #fff !important;
    background-color: #d00d0d !important;
}

.text-yellow {
    color: #b4c304 !important;
}

.text-calm {
    color: #15d3e0 !important;
}

.text-danger {
    color: #d9534f !important;
}

.text-pink {
    color: #ff01d4 !important;
}

.background-card {
    background-color: white;
    margin: 10px 0px;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-26 {
    font-size: 26px !important;
}

.font-23 {
    font-size: 23px !important;
}

.ab-top-left-5 {
    position: absolute;
    top: 5px;
    left: 5px;
}

.ab-top-right-5 {
    position: absolute;
    top: 5px;
    right: 5px;
}

.background-card-img {
    max-width: 100%;
    width: 326px;
    height: 280px;
    margin: 0 auto;
}

.background-card-sticker {
    max-width: 100%;
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.login-btn {
    background-color: #43cfdd;
    color: white;
    border: 0 !important;
    border-radius: 4px !important;
    width: 100%;
    font-weight: 600;
    height: 40px;
}

.header-style {
    vertical-align: middle;
    background-color: #293B4D;
    color: #fff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.add-button {
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
    background-color: #293B4D !important;
    color: white !important;
    z-index: 20;
    position: fixed !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    bottom: 30px;
    right: 30px;
}

.page-item.active .page-link {
    background-color: #293B4D !important;
    border-color: #293B4D !important;
}

.page-link {
    color: #293B4D;
}

.loading-css {
    width: 250px !important;
    overflow: hidden !important;
    color: #293B4D !important;
}

.width-75px {
    width: 75px !important;
    max-width: 75px !important;
}

.width-50px {
    width: 50px !important;
    max-width: 50px !important;
}

.width-75px {
    width: 75px !important;
    max-width: 75px !important;
}

.width-93px {
    width: 93px;
}

.w-100px {
    width: 100px;
}

.width-120px {
    width: 120px !important;
    max-width: 120px !important;
}

.width-140px {
    width: 140px !important;
    max-width: 140px !important;
}

.width-289 {
    width: 289px !important;
    max-width: 289px !important;
}

.width-500 {
    width: 500px !important;
    max-width: 500px !important;
}

.width-768 {
    width: 768px !important;
}

.inline-block {
    display: inline-block !important;
}

.img-240 {
    width: 240px !important;
    height: 240px !important;
}

.img-circle-style {
    height: 150px;
    width: 150px;
    border-radius: 150px;
}

.search-query-dropdown {
    width: 15%;
    float: left;
    height: 30px;
}

.itemsPerPage-query-dropdown {
    height: 38px;
}

.search-query-input {
    width: 25%;
    min-width: 150px;
    padding: 1px 10px;
    float: left;
    height: 30px;
}

.search-query-call {
    min-width: 46px;
    width: 5%;
    float: left;
    height: 30px;
    padding: 5px;
}

.search-query-reset {
    min-width: 46px;
    margin-left: 1%;
    width: 5%;
    float: left;
    height: 30px;
    padding: 5px;
}

.match-parent {
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.inner-parent {
    width: 150px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.m-0-auto {
    margin: 0 auto !important;
}

.view-profile-img {
    width: 152px;
    z-index: 1;
    height: 166px;
}

.add-image-btn {
    width: 152px;
    height: 150px;
    outline: 0;
    font-weight: bold;
    opacity: 0.1;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.add-image-btn:hover {
    opacity: .5;
    cursor: pointer;
    outline: 0;
    background-color: #ddd;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.add-image-btn .plus {
    font-size: 30px;
    font-weight: normal;
    outline: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    display: none;
}

.pos-ab-img-upload {
    top: 0;
    left: 0;
    max-width: 150px !important;
    max-height: 150px !important;
}

.mat-select-underline {
    background-color: white !important;
}

.mat-option.mat-selected:not(.mat-option-multiple),
.mat-select-placeholder.mat-floating-placeholder {
    color: #fff !important;
    background-color: #293B4D !important;
}

.mat-select,
.mat-select-value-text,
.mat-select-arrow,
.mat-select-arrow,
.mat-select-placeholder,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: white !important;
}

.mat-dialog-container {
    padding: 0px !important;
    border-radius: 4px !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #293B4D !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #293B4D !important;
}

.mat-radio-label {
    margin-bottom: 0;
}

.mat-ink-bar {
    background-color: #293B4D;
}

.mat-tab-label:focus {
    background-color: rgba(55, 63, 70, 0.2);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #293B4D;
}

.checkbox-style {
    width: 20px !important;
    margin: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    display: inline !important;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 22;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.90);
    overflow-x: hidden;
    transition: 0.2s;
    padding-bottom: 20px;
}

.sidenav a {
    padding-left: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #43525a;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #43525a;
}

.sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none !important;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
}

.json-inputbox {
    min-width: 280px;
    height: 100%;
}

.add-json-dialog {
    max-width: 991px;
    width: 991px;
}

.mat-chip {
    margin: 2px !important;
}

.mat-input-placeholder {
    color: #616161 !important;
}

.code-icon {
    background: #15d3e0 !important;
    color: white !important;
    padding: 3px 3px;
    border-radius: 17px;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

.c-no-wrap {
    white-space: nowrap !important;
}

.snack-error {
    background: #d40808 !important;
    color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.snack-success {
    background: green !important;
    color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.image-list-container {
    border-bottom: 5px solid #bfbfbf;
    background: rgba(0, 188, 202, 0.75);
    overflow: auto;
    position: fixed;
    max-height: 90vh;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99999;
    color: #fff;
    width: 600px;
    text-align: center;
    border-radius: 5px;
}

.image-list-container img {
    max-width: 100%;
}

.image-list-container div {
    max-width: 100%;
    border: 5px solid #bfbfbf;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
}

.frame {
    background: #f3f3f3;
    height: 80vh;
    width: 60vw;
    overflow: hidden;
    padding: 0;
}

.inner-scroll {
    width: 100%;
    margin: 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 50px;
    overflow-y: scroll;
}

.chat-close-btn {
    font-size: 30px;
    position: absolute;
    color: #fff !important;
    top: 6px;
    right: 7px;
    cursor: pointer;
}

.input-fonts {
    width: 34.66%;
    display: inline-block;
    margin: 10px;
    height: 36px;
}

/* .input-fonts {
    width: 30%;
    display: inline-block;
} */

.input-font-name {
    width: 30%;
    display: inline-block;
}

.ribbon-wrapper-yellow {
    width: 88px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    bottom: -19px;
    right: -19px;
    z-index: 999;
}

.ribbon-yellow {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 6px 0 15px;
    left: -6px;
    top: 32px;
    width: 120px;
    background-color: #fbc913;
    color: #6a6340;
    box-shadow: 15px 0 8px 0 rgba(0, 0, 0, .5);
}

.ribbon-yellow:before {
    left: 0;
}

.ribbon-yellow:after,
.ribbon-yellow:before {
    content: "";
    border-top: 3px solid #d6a803;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
}

.ribbon-yellow:after {
    right: 0;
}

.card-img-wrap {
    position: relative;
    overflow: hidden;
}

.feature-img-templt {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 1;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-indicator {
    line-height: 40px !important;
}

.mb-ctlg-acc .mat-expansion-indicator {
    line-height: 34px !important;
}

.mb-ctlg-acc .mat-expansion-panel-header-description {
    max-width: 145px;
}

.add-image-dialog {
    width: 500px;
}

:root {
    --accent: #293B4D;
    --border-width: 2px;
    --border-radius: 55px;
    --font-size: 16px;
    --ac-font-size: 20px;
}

.container {
    perspective: 800px;
    width: fit-content;
}

.toggle {
    position: relative;
    border: solid var(--border-width) #e9e9e9;
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
    perspective: 800px;
    max-width: 300px;
}

.toggle>input[type="radio"] {
    display: none;
}

.toggle>#choice1:checked~#flap {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.toggle>#choice1:checked~#flap>.content {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.toggle>#choice2:checked~#flap {
    transform: rotateY(0deg);
}

.toggle>label {
    display: inline-block;
    min-width: 140px;
    padding: 6px;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
    margin: 0;
}

.toggle>label,
.toggle>#flap {
    font-weight: bold;
    text-transform: capitalize;
}

.toggle>#flap {
    position: absolute;
    top: calc(2px - var(--border-width));
    left: 50%;
    height: calc(100% + var(--border-width) * 0);
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}

.toggle>#flap>.content {
    color: #fff;
    transition: -webkit-transform 0s linear .25s;
    transition: transform 0s linear .25s;
    transition: transform 0s linear .25s, -webkit-transform 0s linear .25s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.custom-form-controls {
    width: 100%;
    display: block !important;
}

.custom-form-controls .mat-form-field-placeholder {
    color: #2c363e !important;
}

.custom-form-controls .mat-form-field-infix {
    color: #2c363e !important;
    font-weight: 400 !;
}

.custom-form-controls .mat-form-field-ripple {
    background-color: #2c363e !important;
    height: 1px !important;
}

.custom-form-controls .mat-form-field-label {
    color: #2c363e !important;
}

.custom-form-controls .mat-form-field-underline {
    height: 1px !important;
    background-color: #2c363e !important;
}

.custom-form-controls.mat-form-field .mat-form-field-appearance-legacy .mat-form-field-ripple {
    height: 1px !important;
    background-color: #2c363e !important;
}

.search-input-sm {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    box-shadow: none !important;
    outline: none !important;
}

.c-inpt-md {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    box-shadow: none !important;
    outline: none !important;
    padding: 5px;
}

.chk-bx {
    height: 26px;
}


@keyframes click-wave {
    0% {
        height: 26px;
        width: 26px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 80px;
        width: 80px;
        margin-left: -30px;
        margin-top: -30px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 3.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 26px;
    width: 26px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: 1px solid gray;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 10;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #1e8f1c;
}

.option-input:checked::before {
    height: 26px;
    width: 26px;
    position: absolute;
    content: '\2714';
    display: inline-block;
    font-size: 22.66667px;
    text-align: center;
    line-height: 26px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #1e8f1c;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.input-group-prepend {
    margin-right: -2px;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 112px;
    font-size: 16px;
    font-weight: 500;
}

.auth-block .input-group-addon {
    background: 0;
    color: #fff;
    border: 2px solid #43cfdd !important;
    margin-right: -2px;
}

.auth-block .input-group .form-control {
    background: 0;
    border: 2px solid #43cfdd !important;
    color: #fff;
}

.left-nav-style {
    width: 250px;
    max-width: 250px;
}

.main-container-style {
    width: calc(100% - 250px);
    max-width: calc(100% - 250px);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
    padding-top: 8px;
    background: #cbd1d8;
    border-top: 0 !important;
    color: #000;
    padding-bottom: 8px;
    position: sticky;
}

.cst-panel {
    border: 3px solid #405c78;
    border-radius: 4px;
    border-top: 0;
}

.cst-panel-title {
    color: #fff !important;
    background-color: #405c78 !important;
    font-weight: 500;
    font-size: 18px;
    padding: 6px;
    text-align: center;
}

.cst-panel-body {}

.tbl-style-category {
    max-height: calc(100vh - 160px);
    background-color: white !important;
}

.tbl-style-category .table thead th {
    position: sticky;
    top: 0;
}

.tbl-style-subcategory {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.advertisement-table-style {
    background-color: white !important;
    max-height: calc(100vh - 320px);
}

.promocode-scroll {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.search-tag-scroll {
    max-height: calc(100vh - 200px);
    background: #fff;
    overflow: auto;
}

.image-list-scroll {
    max-height: calc(100vh - 200px);
    background: #fff;
    overflow: auto;
}

.redis-keys-scroll {
    max-height: calc(100vh - 200px);
    background: #fff;
    overflow: auto;
}

.btn-action-1 {
    background: #1b941b !important;
    color: #fff !important;
    border-radius: 4px !important;
}

.btn-action-cancel {
    background: #a7a7a7 !important;
    color: #fff !important;
    border-radius: 4px !important;
}

.pagination-lst.mat-select {
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    border: 2px solid #293b4d;
    color: #293b4d !important;
    border-radius: 4px;
}

.pagination-lst .mat-select-trigger {
    height: 38px !important;
    min-width: 80px !important;
    padding-right: 5px;
}

.pagination-lst .mat-select-value {
    left: 8px;
    color: #293b4d !important;
}

.pagination-lst.mat-select,
.pagination-lst .mat-select-value-text,
.pagination-lst .mat-select-arrow,
.pagination-lst .mat-select-arrow,
.pagination-lst .mat-select-placeholder,
.pagination-lst .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-arrow,
.pagination-lst .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: #293b4d !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.tooltip {
    z-index: 100 !important;
}

.tooltip-inner {
    max-width: 100% !important;
}

.modal-ttl-sroll {
    max-height: 85vh;
}

.modal-ttl-sroll .mat-dialog-container {
    border-radius: 6px;
}

.mdl-cntnt-ttl-scrll {
    max-height: calc(85vh - 85px);
    width: 768px;
    max-width: 100%;
    overflow: auto;
}

.editing-textbox {
    height: 30px;
    padding: 3px 5px;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .34rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.sticky-th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    border-top: 0 !important;
    box-shadow: 1px 1px 1px #ccc;
    padding: .35rem .75rem !important;
    z-index: 13;
    border-bottom: 0 !important;
    vertical-align: middle !important;
}

.heading-1 {
    font-size: 13px;
    padding: 0 6px !important;
    vertical-align: middle !important;
    line-height: 1.3;
}

.tbl-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.input-group-append .btn.btn-action-1 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.btn-fab-del {
    position: fixed !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    bottom: 10px;
    right: 15px;
    background: #e11010 !important;
    color: #fff !important;
}

.border-1-d9 {
    border: 1px solid #d9d9d9;
}

.title-bar-mdl {
    color: #000 !important;
    background-color: #e7e7e7 !important;
    border-bottom: 1px solid #cccccc;
}

.btn-mdl-ttl {
    height: 32px;
    padding: 5px 15px;
}

.mdl-body {
    max-height: 90vh;
    overflow: auto;
}

.clr-inpt {
    padding: 0;
    height: 38px;
    width: 38px;
    max-width: 38px;
}

.sttc-btn-inpt {
    /* height: 115px; */
    width: 100%;
    border: 1px solid #ced4da;
    background: white;
    font-size: 14px;
}

.position-relative {
    position: relative;
}

.add-blg-dialog .mat-dialog-container {
    max-width: 95vw;
    width: 95vw;
    max-height: 100vh;
}

.txt-overlay {
    position: absolute;
    top: 0;
    left: 15px;
    max-width: 100%;
    word-break: break-all;
}

.sttc-button {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: rgb(0, 0, 0) !important;
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    padding: 8px 18px;
    text-decoration: none !important;
    background-color: #ffcd00 !important;
    overflow-wrap: break-word;
}

.sttc-button:hover,
.sttc-button:focus {
    background-color: #d9ae00 !important;
}

#summernote+.note-editor .note-editable {
    height: calc(70vh - 200px) !important;
    width: 100%;
}

.note-frame * {
    text-indent: 0 !important;
}

.font-input-wrappr {
    display: inline-block;
    max-width: calc(100% - 300px);
    border: 2px solid lightgray;
    height: 60px;
}