<!--
Optimumbrew Technology

Project       : Photo Editor Lab
File          : viewcategories.component.html
File Created  : Thursday, 15th October 2020 01:12:03 pm
Author        : Optimumbrew
Auther Email  : info@optimumbrew.com
Last Modified : Thursday, 29th October 2020 11:35:20 am
-----
Copyright 2018 - 2020 Optimumbrew Technology
-->



<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 pl-0">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item main-home" nbTooltip="Go to categories" nbTooltipPlacement="bottom"
            nbTooltipStatus="primary" nbTooltipTrigger="hint" (click)="gotoCategories()">Categories</li>
          <li class="breadcrumb-item active" aria-current="page">{{ broadItem }}</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-6 text-right pl-0 pr-0">
    <nb-card class="w-355 ml-auto">
      <nb-card-header class="text-center fs-17 fw-700 p-7">
        TOTAL {{ broadItem | uppercase }} : {{ totalRecords }}
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row card-summary">
  <div class="col-md-12 pr-0 pl-1">
    <!-- <nb-card>
      <nb-card-header>
        
      </nb-card-header>
      <nb-card-body>
               
            </nb-card-body>
    </nb-card>-->
    <div class="row mb-2">
      <div class="col-md-5 col-12">
        <div class="form-group">
          <input type="text" style="background: #fff;" nbInput placeholder="Search category name here" valid-status="false" id="subCatInput"
            [(ngModel)]="searchQuery"
            (keyup)="checkValidation('subCatInput','','catError','','','blank')"
            (keyup.enter)="checkValidation('subCatInput','','catError','','','usual')">
          <p id="catError" style="color: red;margin-bottom: 0px;height: 14px;"></p>
        </div>
      </div>
      <div class="col-md-2 col-12">
        <div class="form-group">
          <button id="subCatButton" class="btn btn-primary w-100"
            (click)="searchCategory()">Search</button>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-1">
        <button class="btn btn-refresh" nbTooltip="Refresh" nbTooltipPlacement="bottom" nbTooltipStatus="default"
          nbTooltipTrigger="hint" (click)="refreshPage()"><i class="fas fa-sync-alt"></i></button>
      </div>
      <div class="col-md-4 text-right col-11 col-sm-11 pl-0">
        <nb-select class="pegin" [(selected)]="selectedPageSize" (selectedChange)="setPageSize($event)" [attr.pagin-status]="paginstatus">
          <nb-option *ngFor="let item of pageSize" value="{{item}}">{{ item }}</nb-option>
        </nb-select>
        <button class="btn btn-primary ml-2" (click)="viewCorruptedFonts()" *ngIf="categoryId == 4" nbTooltip="Click here to view Corrupted Fonts" nbTooltipPlacement="bottom" nbTooltipStatus="primary">Corrupted Fonts</button>
        <button class="btn btn-primary ml-2" (click)="addSubCategory()">Add Sub Category</button>
        <button class="btn btn-primary ml-2" (click)="selectAllCat()">Select Category</button>
      </div>
    </div>
  </div>
</div>


<div class="row card-gallary-content">
  <div class="col-md-12">
    <div class="card-gallary row" >
      <div class="col-md-12 text-center" *ngIf="totalRecords == 0">
        <img src="./assets/data-not-found.png" style="width:180px">
        <h2>No data found</h2>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-3 pl-0 pr-0" *ngFor="let item of categoryData | paginate : {
            itemsPerPage: selectedPageSize,
            currentPage: currentPage,
            totalItems: totalRecords
          };">
        <nb-card class="card-content">
          <div class="picture text-center" (click)="viewCatalog(item)" style="position: relative;">
            <img class="placeholder-img">
            <img class="categImg" [lazyLoad]="item.thumbnail_img" [errorImage]="utils.errorImg" alt="{{item.name}} thumbnail image" (load)="imageLoad($event)">
          </div>
          <div class="details">
            <div [nbTooltip]="item.sub_category_id+'. '+item.name" nbTooltipPlacement="bottom" nbTooltipStatus="primary">{{item.sub_category_id}}. {{item.name}}</div>
          </div>
          <nb-card-footer style="background: #E1E8F3;">
            <a target="_blank" (click)="viewCatalog(item)">
              <nb-icon icon="folder" pack="eva" nbTooltip="View" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
                nbTooltipTrigger="hint"></nb-icon>
            </a>
            <a nbTooltip="Edit" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
              (click)="updateCategory(item)">
              <nb-icon icon="edit-2" pack="eva"></nb-icon>
            </a>
            <a nbTooltip="Delete" nbTooltipPlacement="bottom" nbTooltipStatus="primary" nbTooltipTrigger="hint"
              nbTooltipTrigger="hint" (click)="deleteCategory(item.sub_category_id)">
              <nb-icon icon="trash-2" pack="eva"></nb-icon>
            </a>
            <a nbTooltip="Add search tags to {{item.name}}" nbTooltipPlacement="bottom" nbTooltipTrigger="hint"
              nbTooltipStatus="primary" (click)="addSearchtag(item)">
              <nb-icon icon="pricetags" pack="eva"></nb-icon>
            </a>
          </nb-card-footer>
        </nb-card>
        <img src="./assets/featured_img.png" *ngIf="item.is_featured==1" class="label-img">
      </div>
    </div>
    <div class="row pt-3" style="background: #fff;">
      <div class="col-md-12 text-center pegin" [attr.pagin-status]="paginstatus">
        <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true"
          (pageChange)="handlePageChange($event)"
          [previousLabel]="previousLabel"
          [nextLabel]="nextLabel"
          autoHide = "true"
          ></pagination-controls>
      </div>
    </div>
  </div>
</div>

