<!--
Optimumbrew Technology

Project       : Photo Editor Lab
File          : login.component.html
File Created  : Thursday, 15th October 2020 01:12:03 pm
Author        : Optimumbrew
Auther Email  : info@optimumbrew.com
Last Modified : Thursday, 29th October 2020 11:37:25 am
-----
Copyright 2018 - 2020 Optimumbrew Technology
-->



   <!-- Login Form Start -->
   <nb-layout>
    <nb-layout-column>
        <div class="login-form">
            <div class="logo-div text-center">
                    <img src="./assets/logo.png">
                    <h2 class="text-center">Photo Editor Lab</h2>
            </div>
            <div class="div-line">
                <div class="verticle-line"></div>
            </div>
            <div class="div-form">
                <div class="loginform">
                    <form autocomplete="off">
                        <div class="form-group">
                            <mat-form-field appearance="outline" floatLabel="never">
                                <mat-icon matPrefix>person_outline</mat-icon>
                                <!-- <mat-label>Email</mat-label> -->
                                <input placeholder="Email" matInput type="text" [formControl]="emailFormControl" id="loginEmail" valid-status="false" (keyup)="checkValidation('loginEmail','email','EmailError','','','blank')"  (keyup.enter)="checkValidation('loginEmail','email','EmailError',errormsg.EMPTY_EMAIL,errormsg.INVALID_EMAIL,'usual')" >
                                <mat-hint id="EmailError" style="color: red;margin-bottom: 0px;font-size: 14px;"></mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline" floatLabel="never">
                                <mat-icon matPrefix>lock_open</mat-icon>
                                <!-- <mat-label>Password</mat-label> -->
                                <input placeholder="Password" matInput [type]="passTextType ? 'text' : 'password'" [formControl]="passwordFormControl" id="loginPass" valid-status="false" (keyup)="checkValidation('loginPass','','passError','','','blank')" (keyup.enter)="checkValidation('loginPass','','passError',errormsg.EMPTY_PASSWORD,errormsg.INVALID_PASSWORD,'usual')">    
                                <span matSuffix class="eye-icon"><i class="fa"
                                    [ngClass]="{'fa-eye': !passTextType,'fa-eye-slash': passTextType }" [attr.title]="passTextType ? 'Hide Password' : 'Show Password'" matSuffix (click)="passHideShow()"></i></span>
                                <mat-hint id="passError" style="color: red;margin-bottom: 0px;font-size: 14px;"></mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group mt-4">
                            <button color="" type="submit" value="submit" (click)="do_login()" id="btnLogin" class="btn btn-login w-100">Log in</button>
                        </div>
                    </form>            
                </div>
            </div>
        </div>
        <!-- Login Form End -->
        <!-- Footer Start -->
        <footer>
            <p>Copyright &copy; 2019-{{ current_year }} <a href="http://optimumbrew.com/" target="_blank">Optimumbrew Technology</a> all rights reserved</p>
        </footer>
        <!-- Footer End -->
      </nb-layout-column>
   
</nb-layout>