<div class="col-sm-12 p-4">
  <p *ngIf="API_NAME == 'deleteUserFeeds'">Are you sure you want to delete this image?</p>
  <p *ngIf="API_NAME == 'deleteAllUserFeeds'">Are you sure you want to delete all images?</p>
  <p *ngIf="API_NAME == 'deleteAdvertiseServerId'">Are you sure you want to delete this Ad ID?</p>
  <p *ngIf="API_NAME == 'deleteTag'">Are you sure you want to delete this Search Tag?</p>
  <p *ngIf="API_NAME == 'deleteFont'">Are you sure you want to delete this Font?</p>
  <p *ngIf="API_NAME == 'deleteServerUrl'">Are you sure you want to delete this Server URL?</p>
  <p *ngIf="API_NAME == 'deleteSearchCategoryTag'">Are you sure you want to delete this Tag?</p>
  <p *ngIf="API_NAME == 'deleteValidation'">Are you sure you want to delete this Validation?</p>
  <p *ngIf="API_NAME == 'deleteBlogContent'">Are you sure you want to delete this Blog?</p>
  <p *ngIf="API_NAME == 'removeInvalidFont'">Are you sure you want to remove this Font?</p>
  
  <div class="row">
    <div class="col-sm-12 pl-0 pr-0 text-center">
      <a md-raised-button class="btn title-bar" (click)="deleteCategoryImage(delete_request_data, API_NAME)">Delete</a>
      <button md-raised-button class="btn" [md-dialog-close]="true">Cancel</button>
    </div>
  </div>
</div>
